/*
    THIS FILE IS THE STYLESHEET FOR THE FEED (HOME) PAGE
    Feed.php
*/

.HeaderMed
{  
    font-weight:300;
    font-family:'FF Meta Offc W01',sans-serif;
    font-size:50px;
    color:#034c73;
    text-align: center;
    margin-bottom: 20px
}

.HeaderBig
{
    font-weight:200;
    font-family:'FF Meta Offc W01',sans-serif;
    font-size:70px;
    color:#034c73;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px
}

#Feed
{
    display: grid;
    row-gap: 20px;
}

#DownloadIcon
{
    color: black !important;
}

#DownloadIcon:hover
{
    color: #034c73 !important;
}

#CommentIcon
{
    font-size: 50px;
}

#CommentIconNumber
{
    color: white;
    font-size: 28px;
    align-self: center;
    margin-top: 8px;
    margin-left: 3px;
}

.FeedElement
{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    max-height: 520px;
    border: 10px solid green;
}

p
{
    border: 5px solid #888888;
}

.PictureArea
{
    grid-column: 1 / 2;
    display: grid;
    height: 500px;
    grid-template-rows: auto auto;
}

.Picture
{
    height: 400px;
    width: 400px;
    grid-column: 1/2;
    grid-row: 1 / 2;
}

.PictureDescription
{
    grid-row: 2 / 3;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    border: none;
}

.IconDiv
{
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 50px;
}

.CommentIcon
{
    grid-row: 1 / 2;
}

.LikeIcon
{
    grid-row: 2 / 3;
}

.DownLoadIcon
{
    grid-row: 3 / 4;
}

.CommentSection
{
    grid-column: 3 / 4;
    max-height: 500px;
    display: grid;
    grid-template-rows: 5fr 1fr;
}

.CommentContainer
{
    grid-column: 1 / 2;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.Comment
{
    align-self: auto;
    justify-content: center;
    background: orange;
    font-size: 30px;
    grid-column: 3/4;
}

.UserSection
{
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.UserComment
{
    grid-column: 1 / 2;
    margin: 10px;
}

.SendCommentButton
{
    max-height: 50px;
    max-width: 200px;
    grid-column: 2 / 3;
    align-self: center;
}

.EndOfPage
{
    align-self: center;
    justify-content: center;
    border: none;
}
